<h1>
  Listado de Proyectos
</h1>
<div class="row">
  {{#each projectsDocs}}
    <div class="col s12">
      <div class="card teal darken-4">
        <div class="card-content teal-text text-lighten-5">
          <span class="card-title">
            {{name}}
          </span>
          <p>
            {{description}}
          </p>
        </div>
        <div class="card-action">
          <a href="/projects/edit/{{_id}}">
            <i
              class="material-icons"
              style="display: inline-flex; vertical-align: top;"
            >
              save
            </i>
            Edit Project
          </a>
          <a id="deleteAnchor" href="javascript:;">
            <i
              class="material-icons"
              style="display: inline-flex; vertical-align: top;"
            >
              delete
            </i>
            Delete Project
          </a>
          <form id="deleteForm" hidden action="/projects/delete/{{_id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Project">
          </form>
        </div>
      </div>
    </div>
  {{else}}
    <p>
      La lista de proyectos esta vacía.
    </p>
  {{/each}}
</div>